<div ng-controller='calcsController'>
	<div class='navbar navbar-default navbar-fixed-top'>
		<div class='container'>
			<div class='navbar-header'>
				<a href="#/" class='navbar-brand'>RE Calculators</a>
			</div>
			<div class='navbar-collapse collapse'>
				<ul class='nav navbar-nav'>
					<li class='dropdown'>
						<a class="dropdown-toggle" data-toggle='dropdown'>
							Calculators
							<span class='caret'></span>
						</a>
						<ul class='dropdown-menu' role='menu'>
							<li>
								<a href="#/72">Rule of 72s</a>
							</li>
							<li>
								<a href="#/grm">Gross Rent Multiplier</a>
							</li>
							<li>
								<a href="#/gsi">Gross Scheduled Income</a>
							</li>
							<li>
								<a href="#/goi">Gross Operating Income</a>
							</li>
							<li>
								<a href="#/noi">Net Operating Income</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Something else</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
				<ul class='nav navbar-nav navbar-right'>
					<li>
						<a href="#">Sign Up</a>
					</li>
					<li>
						<a href="#">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>