<div ng-controller='calcsController'>
	<h1>
		Free Real Estate Calculators
	</h1>
	<h4>
		With tremendous thanks to <a href='https://www.linkedin.com/in/frankgallinelli' target='_blank'>Frank Gallinelli</a>'s excellent book, "<a href='http://smile.amazon.com/Every-Estate-Investor-Financial-Measures/dp/0071603271/ref=sr_1_1?ie=UTF8&qid=1436395671&sr=8-1&keywords=what+every+real+estate' target='_blank'>What every real estate investor needs to know about cash flow... and 36 other key financial measures</a>"
	</h4>
	<p>
		You'll find quite a lot of helpful real estate investing calculators within this app. I'll cover the most pertinent formulas from Frank's book, as well as others that have been used in the past.
	</p>
	<p>
		This app will be built out as time goes by to include free registration and membership, which will include the ability to save each of your property's calculations to refer to while doing your due diligence.
	</p>
	<div id='form'>
		<form>
			<p class='input-title'>Property Title</p> 
			<p><input type="text" ng-model='report.title' required='true'></p>
			<p>The following details regard the investment property. The more you fill out, the more accurate your report will become!</p>
			<p class='input-title'>Address</p> 
			<p><input type="text" ng-model='report.address'></p>
			<p class='input-title'>
				City <span class='form-space'></span> State <span class='form-space'></span> Zip
			</p>
			<p>
				<input type="text" ng-model='report.city'>
				<span class='input-space'></span>
				<input type="text" ng-model='report.state'>
				<span class='input-space'></span>
				<input type="number" ng-model='report.zip'>
			</p>
			<p>Annual Taxes</p>
			<p><input type="number" ng-model='report.tax'></p>
			<p>Property Description</p>
			<p><textarea cols="30" rows="4"></textarea></p>
		</form>
	</div>
</div>